{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}

  <div class="columns large-12 content-row">
    <div class="row title">
      <div class="columns large-12 content-title-inner">
        <div class="row">
          <div class="columns large-12">
            <h1 class="page-title">О НАС</h1>
            <div>
              <h2 class="content-title">Современное высокотехнологичное производственное предприятие.<br> Более 1000 квадратных метров проиводственных площадей.<br> Широкая география поставок.<br> Высокий уровень сервиса. </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row content about">
      <div class="columns large-12 content-inner">
        <div class="row">
          
        <div class="row testimonial">
          <div class="columns large-3"> <img src="images/mantest.jpg" alt="" class="test-img"> </div>
          <div class="columns large-9">
            <p class="testimoial-text"> Омский Завод Низковольтной Арматуры начал свою историю более 25 лет назад. У истоков завода стояли специалисты с высшим профильным образованием и богатым практическим опытом в проектировании и строительстве крупнейших городских объектов электроснабжения. Сегодня ОЗНА это надежный поставщик и партнер для крупнейших сырьевых, аграрных и электромонтажных предприятий региона и соседних областей. Продукция завода отвечает самым жестким требованиям и обладает соответствующими сертификатми. <br> Специалисты лаборатории обладают необходимым опытом и оборудованием для обследования, выявления и ремонта повреждений на объектах любой сложности. </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
 
  </div>
 {% endblock %}