{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
  <div class="columns large-12 content-row">
    <div class="row title">
      <div class="columns large-12 content-title-inner">
        <div class="row">
          <div class="columns large-12">
            <h2 class="page-title">КТП</h2>
            <h2 class="content-title">Комплектные трансформаторные подстанции наружней установки.</h2>
          </div>
        </div>
      </div>
    </div>
 
   <div class="row content about">
      <div class="columns large-6 content-inner">
        <div class="row  gallery-block">
          <div class="columns small-12">
            <div class="thumbnail-block">
            	
                <a class="thumbnail" href="{% static "images/обработан.jpg" %}"rel="box" title="КТПНУ"><img src="{% static "images/обработан.jpg" %}" alt=""></a>
            </div>
           
          </div>
        </div>
        <div class="row">
          <div class="columns large-12">
            <div>
              <p></p>
            </div>
          </div>
        </div>
        <div class="row testimonial">
          <div class="columns large-3"> <img src="images/mantest.jpg" alt="" class="test-img"> </div>
          <div class="columns large-12">
				<div class="thumbnail-block">
              <ul class="small-block-grid-4 block-grid four-up ">
                <li><a class="colorbox" href="{% static "images/sertifikat1.jpg" %}" rel="box"><img src="{% static "images/sertifikat1.jpg" %}" alt=""></a></li>
                <li><a class="thumbnail" href="{% static "images/sertifikat2.jpg" %}" rel="box"><img src="{% static "images/sertifikat2.jpg" %}" alt=""></a></li>
                <li><a class="thumbnail" href="{% static "images/sertifikat3.jpg" %}" rel="box"><img src="{% static "images/sertifikat3.jpg" %}" alt=""></a></li>
                <li><a class="thumbnail" href="{% static "images/deklaraziya1.jpg" %}" rel="box"><img src="{% static "images/deklaraziya1.jpg" %}" alt=""></a></li>
                <li><a class="thumbnail" href="{% static "images/deklaraziya2.jpg" %}" rel="box"><img src="{% static "images/deklaraziya2.jpg" %}" alt=""></a></li>
                <li><a class="thumbnail" href="{% static "images/deklaraziya3.jpg" %}" rel="box"><img src="{% static "images/deklaraziya3.jpg" %}" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="columns large-6 content-inner">
      	<div class="row">
      	<p class="bktp_header">Конструктивное исполнение<p><br/><br/>
      	</div>
        			<div class="row">
                       <div class="columns large-12">
        <p> Корпус КТПН может изготавливаться из бетона, сендвич панелей или цельносварных металлических модулей.</p>
        <p><b>Киосковые</b> - подстанции выполнены в едином корпусе, в который смонтировано все необходимое оборудование. </p>
        <p><b>Блочные</b> - состоят из нескольких отдельно стоящих модулей, конструктивно соединенных между собой. </p>
        			</div>
                      </div>
        <div class="row">
        <p class="bktp_header">Технические характеристики<p>
         </div>
       		<div class="row">
       			<ul class="large-block-grid-2">
              	<li>
                  <b>Мощность силового трансформатора, кВа</b>
                </li>
              	<li>
                  25;40;63;100;250;400;630<br>1000;1250;1600;2000;2500
                </li>
                </ul>
                <ul class="large-block-grid-2">
              	<li>
                <b>  Тип трансформаторов</b>
                </li>
              	<li>
					сухой; масляный
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
                 <b> Номинальный ток распределительного устройства низкого напряжения  </b>
                </li>
              	<li>
					400;630;1000;1250<br>1600;2000;2500;3150
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
				<b>	Материал сборных шин</b>
				</li>
              	<li>
					алюминий; медь
				</li>
				
                </ul>
                 </ul>
                <ul class="large-block-grid-2">
              	<li>
				<b>	Ввод НН 		 </b>           	
				</li>
              	<li>
					рубильник; автомат
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
				<b>	Номинальный ток вводных трансформаторов   		</b>
				</li>
              	<li>
					300/5; 400/5; 500/5; 600/5<br> 1000/5; 1500/5; 2000/5
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
							<b>Класс точности вводных трансформаторов  				</b>
				</li>
              	<li>
					0,5;  0,5s;  0.2; 0.2s
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
						<b>Количество силовых трансформаторов  	</b>
				</li>
              	<li>
					1 ; 2; 3; 4
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
					<b>Тип ввода</b>
				</li>
              	<li>
					воздушный; кабельный
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
						<b>Тип КСО распределительного устройства высокого напряжения	</b>    
				</li>
              	<li>
					ВНА; вакуум
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
					<b>	Тип подстанции	</b> 
				</li>
              	<li>
					тупикова; проходная        
				</li>
				
                </ul>
            </div>
      </div>
      
        <div class="row content about">
        	
      <div class="columns large-12 content-inner">
        <div class="row  gallery-block">
        		<div class="columns large-12 content-inner">
      	<p class="bktp_header">Пример реализации КТПН <p><br/><br/>
      	</div>
          <div class="columns small-12">
            <div class="thumbnail-block">
                <ul class="large-block-grid-3">
              <li>
                <div class="primer_ktp"><a href="{% static "images/kso-vvod.jpg" %}" rel="box"><img src="{% static "images/kso-vvod.jpg" %}" alt="" class="about-image"></a></div>
                <h4 class="employer-name" > Вводная ячейка КСО</h4>
                <p>Вводная ячейка КСО – состоит из алюминиевых шин,  выключателей нагрузки ВНА 10/630 с заземляющими ножами.</p>
              </li>
             <li>
                <div class="primer_ktp"><a href="{% static "images/vakuum-switch.jpg" %}" rel="box"><img src="{% static "images/vakuum-switch.jpg" %}" alt="" class="about-image"></a></div>
                <h4 class="employer-name" > Вакуумный выключатель</h4>
                <p>Номинальный ток 630-2500А. Номинальный ток отключения 20-31,5 кА</p>
              </li>
             <li>
                <div class="primer_ktp"><a href="{% static "images/релейная защита.jpg" %}" rel="box" title="Релейная защита"><img src="{% static "images/релейная защита.jpg" %}" alt="" class="about-image"></a></div>
                <h4 class="employer-name" > Релейная защита</h4>
                <p>В релейной защите обеспечивается защита от перегрузок межфазных замыканий и замыканий на землю.</p>
              </li>
            </ul>
            <ul class="large-block-grid-3">
              <li>
                <div class="primer_ktp"><a href="{% static "images/zelio_logic.jpg" %}" rel="box"><img src="{% static "images/zelio_logic.jpg" %}" alt="" class="about-image"></a></div>
                <h4 class="employer-name" >   Интеллектуальное реле Zelio Logic </h4>
                <p>Реле контроля напряжения вместе с интеллектуальным реле обеспечивают управления приводом АВР по таймерам, аналоговым блокам сравнения, часам и вспомогательным реле.</p>
              </li>
             <li>
                <div class="primer_ktp"><a href="{% static "images/авр.jpg" %}" rel="box"><img src="{% static "images/авр.jpg" %}" alt="" class="about-image"></a></div>
                <h4 class="employer-name" >   Электропривод АВР</h4>
                <p>Электропривод автоматиеского ввода резерва обеспечивает соединение питающих линий под управлением интеллектуального реле Zelio Logic </p>
              </li>
              
            
            <li>
                <div class="primer_ktp"><a href="{% static "images/vvod-dgu.jpg" %}" rel="box"><img src="{% static "images/vvod-dgu.jpg" %}" alt="" class="about-image"></a></div>
                <h4 class="employer-name" > Ввод ДГУ</h4>
                <p>Осуществляет подключение резервной дизель-генераторной установки.</p>
              </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="row">
          <div class="columns large-12">
            <div>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}