{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
  <div class="columns large-12 content-row">
    <div class="row title">
      <div class="columns large-12 content-title-inner">
        <div class="row">
          <div class="columns large-12">
            <h2 class="page-title">Люминесцентные лампы</h2>
            <h2 class="content-title">Люминесцентные лампы T8 18w/54 ОЗНА</h2>
          </div>
        </div>
      </div>
    </div>
 
   <div class="row content about">
      <div class="columns large-6 content-inner">
        <div class="row  gallery-block">
          <div class="columns small-12">
            <div class="thumbnail-block">
            	
                <a class="thumbnail" href="{% static "images/lampT8G13.png" %}"rel="box" title="Люминесцентные лампы T8 G13"><img src="{% static "images/lampT8G13.png" %}" alt=""></a>
            </div>
           
          </div>
        </div>
        <div class="row">
          <div class="columns large-12">
            <div>
              <p></p>
            </div>
          </div>
        </div>
        <div class="row testimonial">
          <div class="columns large-3"> <img src="images/mantest.jpg" alt="" class="test-img"> </div>
          <div class="columns large-12">
				<div class="thumbnail-block">
              <ul class="small-block-grid-2 block-grid four-up ">
                <li><a class="colorbox" href="{% static "images/sertifikat ozna lamp.jpg" %}" rel="box"><img src="{% static "images/sertifikat ozna lamp.jpg" %}" alt=""></a></li>
                
                
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="columns large-6 content-inner">
      	
        			
        <div class="row">
        <p class="bktp_header">Технические характеристики<p>
         </div>
       		<div class="row">
       			<ul class="large-block-grid-2">
              	<li>
                  <b>Тип лампы</b>
                </li>
              	<li>
                  люминесцентная
                </li>
                </ul>
                <ul class="large-block-grid-2">
              	<li>
                <b> Мощность</b>
                </li>
              	<li>
					 18Вт
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
                 <b>Длина лампы </b>
                </li>
              	<li>
					 1,2м
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
				<b>	Цветовая температура</b>
				</li>
              	<li>
					6200К (холодный)
				</li>
				
                </ul>
                 </ul>
                <ul class="large-block-grid-2">
              	<li>
				<b>	Тип цоколя		 </b>           	
				</li>
              	<li>
					G13
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
				<b>	Количество светового потока   		</b>
				</li>
              	<li>
					1025
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
							<b>Форма колбы  				</b>
				</li>
              	<li>
					T8
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
						<b>Диаметр колбы 	</b>
				</li>
              	<li>
					25 мм
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
					<b>Степень цветопередачи</b>
				</li>
              	<li>
					1В
				</li>
					<li>
					<b>Индекс цветопередачи</b>
				</li>
              	<li>
					> 80 CRI(RA)
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
						<b>Количество в упаковке	</b>    
				</li>
              	<li>
					25шт
				</li>
				
                </ul>
             
            </div>
      </div>
      
        
  </div>
  </div>
  {% endblock %}