{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
  <div class="columns large-12 content-row">
    <div class="row title">
      <div class="columns large-12 content-title-inner">
        <div class="row">
          <div class="columns large-12">
            <h2 class="page-title">Оборудование</h>
          </div>
        </div>
      </div>
    </div>
    <div class="row content testimonials-page">
    	{% for i in object_list  %}
      <div class="columns large-12  content-inner">
        <div class="row testimonial">
          <div class="columns large-5"> <img src="{{i.image.url}}" alt="" class="test-img"> </div>
          <div class="columns large-7">
          	<p class="testimonial-credits2"><b>{{ i.name }}</b></p>
            <p class="testimoial-text"> {{ i.description|safe }} </p>
            
          </div>
        </div>
        
      </div>
      {% endfor %}
    </div>
  </div>
 
  {% endblock %}
