{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
  <div class="columns large-12 content-row">
    <div class="row title">
      <div class="columns large-12 content-title-inner">
        <div class="row">
          <div class="columns large-12">
            <h2 class="page-title">Светодиодные лампы</h2>
            <h2 class="content-title">Светодиодные лампы T8 G13 ОЗНА выпускаются в следующих модификациях: </h2>
            <div class="content-title">Т8 18Вт 1,2м 4200К G13 1400Лм<br/> Т8 18Вт 1,2м 4200К G13 1600Лм<br/>Т8 18Вт 1,2м 6200К G13 1600Лм<br/> Т8 9Вт 0,6м 4200К G13 700Лм<br/>Т8 9Вт 0,6м 4200К G13 800 Лм<br/> Т8 9Вт 0,6м 6200К G13 700Лм<br/> Т8 9Вт 0,6м 6200К G13 800Лм</div>
          </div>
        </div>
      </div>
    </div>
 
   <div class="row content about">
      <div class="columns large-6 content-inner">
        <div class="row  gallery-block">
          <div class="columns small-12">
            <div class="thumbnail-block">
            	
                <a class="thumbnail" href="{% static "images/lampT8G13led.png" %}"rel="box" title="Led лампа T8 G13"><img src="{% static "images/lampT8G13led.png" %}" alt=""></a>
            </div>
           
          </div>
        </div>
        <div class="row">
          <div class="columns large-12">
            <div>
              <p></p>
            </div>
          </div>
        </div>
        <div class="row testimonial">
          <div class="columns large-3"> <img src="images/mantest.jpg" alt="" class="test-img"> </div>
          <div class="columns large-12">
				<div class="thumbnail-block">
              <ul class="small-block-grid-2 block-grid four-up ">
                
                <li><a class="thumbnail" href="{% static "images/T8 ozna LED.jpg" %}" rel="box"><img src="{% static "images/T8 ozna LED.jpg" %}" alt=""></a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="columns large-6 content-inner">
      	
        			
        <div class="row">
        <p class="bktp_header">Технические характеристики<p>
         </div>
       		<div class="row">
       			<ul class="large-block-grid-2">
              	<li>
                  <b>Тип лампы</b>
                </li>
              	<li>
                  светодиодная
                </li>
                </ul>
                <ul class="large-block-grid-2">
              	<li>
                <b> Мощность</b>
                </li>
              	<li>
					9Вт; 18Вт
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
                 <b>Длина лампы </b>
                </li>
              	<li>
					0,6м; 1,2м
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
				<b>	Цветовая температура</b>
				</li>
              	<li>
					4200К (нейтральный); 6200К (холодный)
				</li>
				
                </ul>
                 </ul>
                <ul class="large-block-grid-2">
              	<li>
				<b>	Тип цоколя		 </b>           	
				</li>
              	<li>
					G13
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
				<b>	Количество светового потока   		</b>
				</li>
              	<li>
					700; 800; 1400; 1600
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
							<b>Форма колмы  				</b>
				</li>
              	<li>
					T8
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
						<b>Диаметр колмы 	</b>
				</li>
              	<li>
					25 мм
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
					<b>Степень цветопередачи</b>
				</li>
              	<li>
					1В
				</li>
					<li>
					<b>Индекс цветопередачи</b>
				</li>
              	<li>
					> 80 CRI(RA)
				</li>
				
                </ul>
                <ul class="large-block-grid-2">
              	<li>
						<b>Количество в упаковке	</b>    
				</li>
              	<li>
					25шт
				</li>
				
                </ul>
             
            </div>
      </div>
      
        
  </div>
  </div>
  {% endblock %}