{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
  <div class="columns large-12 content-row">
    <div class="row title">
      <div class="columns large-12 content-title-inner">
        <div class="row">
          <div class="columns large-12">
            <h2 class="page-title">Металлоконструкции ЛЭП</h2>
            <h2 class="content-title">Производство укомплектованное всем необходимым для полного цикла металлообработки, позволяет в кратчайшие сроки изготовить траверсы ЛЭП, металлоконструкции для уличного освещения, стеллажи для складских помещений, а также любые другие изделия по чертежам заказчика.</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row content about">
      <div class="columns large-12 content-inner">
        <div class="row  gallery-block">
          <div class="columns small-12">
            <div class="thumbnail-block">
               
            </div>
            <div class="thumbnail-block product">
            	
              <ul class="large-block-grid-4 block-grid four-up">
                <li><a class="colorbox" href="{% static "images/tn1.jpg" %}"rel="box"><span>ТН-1</span><img src="{% static "images/tn1.jpg" %}" alt=""></a></li>
                
                <li><a class="colorbox" href="{% static "images/tn2.jpg" %}"rel="box"><span>ТН-2</span><img src="{% static "images/tn2.png" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn3.jpg" %}"rel="box"><span>ТН-3</span><img src="{% static "images/tn3.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn4.jpg" %}"rel="box"><span>ТН-4</span><img src="{% static "images/tn4.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn5.jpg" %}"rel="box"><span>ТН-5</span><img src="{% static "images/tn5.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn6.jpg" %}"rel="box"><span>ТН-6</span><img src="{% static "images/tn6.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn7.jpg" %}"rel="box"><span>ТН-7</span><img src="{% static "images/tn7.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn8.jpg" %}"rel="box"><span>ТН-8</span><img src="{% static "images/tn8.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn9.jpg" %}" rel="box"><span>ТН-9</span><img src="{% static "images/tn9.png" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn10.jpg" %}"rel="box"><span>ТН-10</span><img src="{% static "images/tn10.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn11.jpg" %}"rel="box"><span>ТН-11</span><img src="{% static "images/tn11.png" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn12.jpg" %}"rel="box"><span>ТН-12</span><img src="{% static "images/tn12.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn13.jpg" %}"rel="box"><span>ТН-13</span><img src="{% static "images/tn13.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn14.jpg" %}"rel="box"><span>ТН-14</span><img src="{% static "images/tn14.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn15.png" %}"rel="box"><span>ТН-15</span><img src="{% static "images/tn15.png" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn18.jpg" %}"rel="box"><span>ТН-18</span><img src="{% static "images/tn18.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn19.jpg" %}"rel="box"><span>ТН-19</span><img src="{% static "images/tn19.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn27.png" %}"rel="box"><span>ТН-27</span><img src="{% static "images/tn27.png" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/tn28.jpg" %}"rel="box"><span>ТН-28</span><img src="{% static "images/tn28.jpg" %}" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="columns large-12">
            <div>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% endblock %}