{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
  <div class="columns large-12 content-row">
    <div class="row title">
      <div class="columns large-12 content-title-inner">
        <div class="row">
          <div class="columns large-12">
            <h1 class="page-title">Новости</h1>
          </div>
        </div>
      </div>
    </div>
    {% for i in object_list %}
    <div class="row content testimonials-page">
      <div class="columns large-12  content-inner">
        <div class="row testimonial">
          <div class="columns large-3"><a class="colorbox" href="{{ i.image.url }}" rel="box"> <img src="{{ i.image.url }}" alt="iso" class="test-img"> </a></div>
          <div class="columns large-9">
          	<p class="testimoial-text"> <b> {{ i.name }}</b> </p>
            <p class="testimoial-text">  {{ i.description|safe }} </p>
            <p class="testimonial-credits"><b>{{ i.date|date:"j.m.Y" }}</b></p>
          </div>
        
    </div>
  </div>
  </div>
	{% endfor %}
  {% endblock %}
