{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
   <div class="columns large-12 content-row">
    <div class="row title">
      <div class="columns large-12 content-title-inner">
        <div class="row">
          <div class="columns large-12">
            <h2 class="page-title">Арматура СИП</h2>
            <h2 class="content-title">Собственное производство арматуры СИП на самом современном оборудовании, отлаженная технология и логистика позволяет предлагать нашим клиентам арматуру СИП высочайшего качества по цене на 30-50% ниже конкурентов.</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row content about">
      <div class="columns large-12 content-inner">
        <div class="row  gallery-block">
          <div class="columns small-12">
            <div class="thumbnail-block">
               
            </div>
            <div class="thumbnail-block product">
              <ul class="large-block-grid-5 block-grid four-up">
                <li><a class="colorbox" href="{% static "images/armatura1.jpg" %}"rel="box"><span>BRPF-6</span><img src="{% static "images/armatura1.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/so-235.jpg" %}"rel="box"><span>SO-235</span><img src="{% static "images/so-235.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/armatura3.jpg" %}"rel="box"><span>PSP 25/120</span><img src="{% static "images/armatura3.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/CF16.jpg" %}"rel="box"><span>CF16</span><img src="{% static "images/CF16.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/armatura5.jpg" %}"rel="box"><span>РА 25Х100</span><img src="{% static "images/armatura5.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/armatura6.jpg" %}"rel="box"><span>RPA 4(50-120)</span><img src="{% static "images/armatura6.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/armatura7.jpg" %}"rel="box"><span>SOT-28</span><img src="{% static "images/armatura7.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/armatura8.png" %}"rel="box"><span>PAS 216/450</span><img src="{% static "images/armatura8.png" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/armatura9.png" %}"rel="box"><span>HEL-55052</span><img src="{% static "images/armatura9.png" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/armatura10.jpg" %}"rel="box"><span>HEL-5505</span><img src="{% static "images/armatura10.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/B-16.jpg" %}"rel="box"><span>B-16</span><img src="{% static "images/B-16.jpg" %}" alt="111"></a></li>
                <li><a class="colorbox" href="{% static "images/PM-1.jpg" %}"rel="box"><span>РМ-1</span><img src="{% static "images/PM-1.jpg" %}" alt=""></a></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="columns large-12">
            <div>
              <p></p>
            </div>
          </div>
        </div>
        <div class="row testimonial">
          <div class="columns large-3"> <img src="images/mantest.jpg" alt="" class="test-img"> </div>
          <div class="columns large-12">
				<div class="thumbnail-block">
              <ul class="large-block-grid-6 block-grid four-up">
                <li><a class="colorbox" href="{% static "images/sertifikat_armatura1.jpg" %}" rel="box"><img src="{% static "images/sertifikat_armatura1.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/sertifikat_armatura2.jpg" %}" rel="box"><img src="{% static "images/sertifikat_armatura2.jpg" %}" alt=""></a></li>
                <li><a class="colorbox" href="{% static "images/sertifikat_armatura3.jpg" %}" rel="box"><img src="{% static "images/sertifikat_armatura3.jpg" %}" alt=""></a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% endblock %}